html,
body {
  color: #aaa;
  background: #eee;
  font: 18px/1.4em inherit;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.4em;
  font-weight: normal;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

.nav-horizontal {
  text-align: center;
  display: flex;
  flex-direction: column;
  
  /* margin-top: 56px; */
}
.nav-horizontal ul {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  flex-direction: row;
}
.nav-horizontal > ul {
  display: inline-flex;
  background-color: black;
  /* border-radius: 3px;  */
}

.nav-horizontal > ul > li {
  float: left;
}
.nav-horizontal li {
  position: relative;
  text-align: left;
}
.nav-horizontal li:hover {
  /* background: #fbfdfd; */
}
.nav-horizontal li > ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 12.5em;
  background:black;
  z-index: 1;
}
.nav-horizontal li li > ul {
  /* background: #fbfdfd; */
  right: 100%;
  top: 0;
}
.nav-horizontal li:hover > ul {
  display: block;
}
.nav-horizontal a {
  display: block;
  padding: 0.4375em 0.8125em;
  color: white;
  text-decoration: none;
}
.nav-horizontal a:visited {
  color: #222;
}
.nav-horizontal a:hover {
  color: #d22;
  text-decoration: none;
}

.logo {
  flex-grow: 1;
}

.logo a {
  padding-left: 0;
}

.wrapper {
  position: relative;
  /* max-width: 768px; */
  margin: 0 auto;
  overflow-x: hidden;
}

.checkbox-off-canvas {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.label-off-canvas {
  display: none;
  position: fixed;
  right: 6px;
  top: 6px;
  color: #888;
  font: 30px/44px Arial, sans-serif;
  background: #fafafa;
  cursor: pointer;
  user-select: none;
  z-index: 9999;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}
.label-off-canvas:after {
  content: "\2261";
  display: block;
  width: 44px;
  text-align: center;
}

main {
  width: 100vw;
  min-height: 100vh;
  background: black;
}

main nav {
  background: white;
}

main nav li a {
  color: black;
}

.nav-horizontal ul.primary-nav {
  /* display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  padding-top: 60px; */
  padding-left: 5%;
  padding-right: 5%;
}

.nav-horizontal a.avatar {
  padding-right: 0;
  padding-left: 0;
}

/**

* Collapsed Actions

**/

.metaActions {
  /* width: 225px; */
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonMeta,
.buttonMetaDark {
  background: white;
  color: black;
  border-radius: 3px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .95rem;
  text-align: center;
  width: 95px;
  padding: 5px;
  text-decoration: none;
}

.buttonMetaDark {
  background: black;
  color: white;
  margin-right: 1rem;
}

.buttonLarge {
  background: #000000;
  border: 1px solid #FFFFFF;
  /* GET ELITE ACCESS: */
  font-family: Gibson-Bold;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 40px;
  text-decoration: none;
}

.buttonLarge.secondHeaderCTA {
  font-size: 18px;
}

/**

* Collapsed Band Info

**/

.collapsedNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  padding-left: 5%;
  padding-right: 5%;
}
.bandInfoCollapsed {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
  text-align: left;
}

.bandInfoCollapsed li:nth-child(1){
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.bandHeaderTitleCollapsed {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.bandEliteFansCollapsed {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .85rem;
  margin: 0;
  padding: 0;
}

.bandHeaderImgCollapsed {
  width: 50px;
  height: 50px;
  background: red;
  margin: 10px 8px 10px 0;
}

@media screen and (max-width: 768px) {
  .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
  }

  .nav-off-canvas,
  .wrapper {
    transition: all .3s ease-in-out;
    transform: translate3d(0px, 0px, 0px);
  }

  .nav-off-canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -260px;
    margin: 0;
    width: 260px;
    background: #fafafa;
    /* border-right: 1px solid #d5d7d7; */
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }

  .nav-off-canvas ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }

  .logo {
    padding-top: 10px;
    flex-grow: unset;
    /* display: none; */
    /* align-items;: flex-end; */
  }
  .nav-off-canvas ul > li {
    width: 100%;
  }
  .nav-off-canvas li {
    float: none;
    width: 100%;
    background: transparent;
  }
  .nav-off-canvas li:hover {
    background: transparent;
  }
  .nav-off-canvas li > ul {
    position: static;
    display: block;
    width: 260px;
    background: transparent;
  }
  .nav-off-canvas li > ul:hover {
    background: transparent;
  }
  .nav-off-canvas a,
  .nav-off-canvas a:hover,
  .nav-off-canvas a:visited {
    display: block;
    padding: 0 16px;
    color:white;
    font-size: 16px;
    line-height: 44px;
    /* border-bottom: 1px solid #f0f0f0; */
  }

  .label-off-canvas {
    display: block;
  }

  .checkbox-off-canvas:checked ~ .label-off-canvas {
    color: #aaa;
  }

  .checkbox-off-canvas:checked ~ .nav-off-canvas,
  .checkbox-off-canvas:checked ~ .wrapper {
    transform: translate3d(-260px, 0px, 0px);
  }

  .nav-off-canvas ul.primary-nav {
    /* display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 60px; */
  }

  .nav-off-canvas ul.primary-nav li:nth-child(2){
    order: 3;
  }
  .nav-off-canvas ul.primary-nav li:nth-child(3){
    order: 3;
  }
  .nav-off-canvas ul.primary-nav li:nth-child(4){
    order: 2;
  }

  .collapsedNav {
    padding-left: 10px;
    padding-right: 10px;
  }
}


