.App {
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  width: 100vw;
  min-height: 100vh;
  /* position: relative; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: white;
  width: 100%;
  padding: 20px 10%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: black;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 2rem;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
}

.hero {
  width: 100vw;
  min-height: 100vh;
  background-image: url(./assets/img/band1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: fixed;
  top: 80px;
  z-index: 0;
  opacity: 1;
}

.hero:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  bottom: -1px;
  left: 0;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 95%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 95%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.fadeHero {
  opacity: 0;
  
}

.fadeHero.fadeHeroIn {
  opacity: 1;
  transition: all .5s ease;
  left: 0;
}

.fadeHero.fadeHeroOut {
  opacity: 0;
  transition: all 1.5s ease;
  right: 0;
}

.heroHeader {
  width: 100vw;
  min-height: 70vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 5;
  flex-direction: column;
}

.scaleHeroHeader {
  /* transform: scale(1.0) */
  /* opacity: 1; */
  visibility: visible
}
.scaleHeroHeaderOut {
  /* transform: scale(1.0) */
  visibility: hidden
}

.scaleHeroHeaderIn {
  /* transform: scale(1.0) */
  visibility: visible
}

.secondHeader {
  background-color: white;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-sizing: border-box;
}

.sendSecondHeader {
  position: fixed;
  z-index: 20;
  top: 0px;
  transition: top .5s ease-in-out;
}

.sendSecondHeaderIn {
  top: 0px;
}

.sendSecondHeaderOut {
  top: 75px;
}

.secondBandInfo {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.secondHeaderTitle {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 700;
}

.eliteFansDark {
  text-transform: uppercase;
  font-family: 700;
  font-size: .85rem;
  margin: 0;
  padding: 0;
}

.heroHeader a {
  text-decoration: none;
}

.buttonLarge {
  background: #000000;
  border: 1px solid #FFFFFF;
  /* GET ELITE ACCESS: */
  font-family: Gibson-Bold;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 40px;
  text-decoration: none;
}

.buttonLarge.secondHeaderCTA {
  font-size: 18px;
}

.eliteFans {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 5px;
  font-size: .85rem;
}

.metaActions {
  width: 225px;
  display: flex;
  justify-content: space-between;
}

.buttonMeta,
.buttonMetaDark {
  background: white;
  color: black;
  border-radius: 3px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .95rem;
  text-align: center;
  width: 95px;
  padding: 5px;
  text-decoration: none;
}

.buttonMetaDark {
  background: black;
  color: white;
  margin-right: 1rem;
}

.bandNameLarge {
  color: white;
  font-weight: 700;
  font-size: 6rem;
  text-transform: uppercase;
  
  /* top: 0;
  left: 0; */
  margin: 0;
  padding: 0;
}

.feed {
  position: relative;
  z-index: 10;
  /* background-color: red; */
  width: 66%;
  height: 1000px;
  margin: 10vh auto 0;
}

.feed article {
  background: white;
  margin-bottom: 50px;
}

.feed article .imgContainer {
  background-color: burlywood;
  width: 100%;
  height: 200px;
}

.feed article .contentContainer {
  padding: 10px 15px;
  box-sizing: border-box;
}

.contentContainer h3 {
  text-transform: uppercase;
  font-size: 1.75rem;
  text-align: left;
  margin: 0;
  padding: 0;
}

.articleMeta {
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .75rem;
  align-items: center;
}

.articleMeta p {
  margin: 0;
}

.articleMeta p:first-child {
  color: white;
  background-color: black;
  padding: 3px 5px;
  margin-right: .5rem;
}

.contentContainer > p {
  text-align: left;
}

.interactions {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  color: #A4A4A4;
  background-color: #4A4A4A;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
