main {
    min-height: 100vh;
}

.content {
    /* padding-top: 80px; */
    max-width: 450px;
}

.content-wrapper {
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.auth-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-container h2 {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    width: 100%;
}

/* cleave form */
.form-container input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid white;
    background: transparent;
    margin-bottom: 15px;
    font-size: 18px;
    color: white;
}

.form-container input:focus {
    background: white;
    color: black;
}

.form-actions-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.form-submit {
    align-self: flex-end;
    color: black;
    font-size: 18px;
    background: white;
    border: none;
    border-radius: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: canada-type-gibson, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    padding: 10px;
}

.form-remember {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-remember input[type=checkbox] + label {
    display: block;
    cursor: pointer;
    padding: 0;
    color: white;
    font-family: canada-type-gibson, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 14px;
  }
  
  .form-remember input[type=checkbox] {
    display: none;
  }
  
  .form-remember input[type=checkbox] + label:before {
    content: "\2714";
    border: 1px solid #fff;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    padding: 1px;
    margin-right: 8px;
    /* vertical-align: bottom; */
    color: transparent;
    transition: .2s;
  }
  
  .form-remember input[type=checkbox] + label:active:before {
    transform: scale(0);
  }
  
  .form-remember input[type=checkbox]:checked + label:before {
    background-color: white;
    border-color: white;
    color: #000;
  }
  
  .form-remember input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: blue;
  }
  
  .form-remember input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: yellow;
    border-color: yellow;
  }

  .form-help {
      color: white;
      text-decoration: none;
      margin: 5px 0;
      color: rgba(255,255,255,.5);
      font-size: 12px;
  }

  .form-help:hover {
    color: rgba(255,255,255,1);
  }