.notSubscribed {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.notSubscribed h3 {
    text-align: center;
    padding-top: 1.5rem;
}
.notSubscribed .buttonLarge {
 /* text-decoration: none;
 color: black;  
 text-transform: uppercase;
 font-weight: 700; */
 font-size: 18px;
 text-align: right;
 margin: 1.5rem auto;
 display: inline-block;
}